<div id="mySimpleTemplate" 
data-type="text/x-handlebars-template" 
style ="background-color:#3373B1; font-color: #009999; font-family:helvetica;  padding-top: 10px;height: 120vh;">

<div>
         <header>
             
             <div  >
                   <p style="color:white;text-align:center;font-size:32px;">VegFu  </p>
             
                    </div>
       



<div style="color:white;text-align:center;font-size:40px;">
    
    {{records.commodity}} <br> <br><br>{{records.modal_price}} 
    
</div>
 </header>
</div>
</div>